.jumbotron {
    background: #7d7d7d;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }
  
    .footer{
      padding-top: 30px;
      background-color: rgb(12, 11, 11);
      color: white;
    }